#session
  = "Hello #{@username}!"
  %a{href: "/logout"} Log out
%h1 Chat
%ul#conversation
%form
  %textarea#new-message

  %script{type: "text/template", id: "message-template"}
    %span.username ${username}:
    ${content}
