%h1
  %i{class: "icon-comment-alt"}
  Chat

#info{"data-crossword-id" => @crossword.id}

%ul#conversation{"data-bind" => "foreach: messages"}
  %li{"data-bind" => "attr: {class: type}"}
    %span.username{"data-bind" => "text: username"}
    %span.content{"data-bind" => "text: content"}

%form{"data-bind" => "submit: postMessage"}
  %textarea#new-message{"data-bind" => "value: newMessage, valueUpdate: 'afterkeydown', event: {keypress: keyPressed}"}
