%html
  %head
    %title Cruciverbalist
    %link{href: "/assets/css/chat.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/assets/js/lib/json2.js"}
    %script{src: "/assets/js/lib/jquery.js"}
    %script{src: "/assets/js/lib/jquery.tmpl.js"}
    %script{src: "/assets/js/lib/underscore.js"}
    %script{src: "/assets/js/lib/firehose.js"}
    %script{src: "/assets/js/lib/backbone.js"}
    %body
      = yield
      %script{src: "/assets/js/chat.js"}
