%html
  %head
    %title Cruciverbalist
    %link{href: "/assets/chat.css", rel: "stylesheet", type: "text/css"}
    %script{src: "/assets/json2.js"}
    %script{src: "/assets/jquery.js"}
    %script{src: "/assets/jquery.tmpl.js"}
    %script{src: "/assets/underscore.js"}
    %script{src: "/assets/backbone.js"}
    %body
      = yield
      %script{src: "/assets/chat.js"}
