#conversation {
  border: 1px solid #ccc;
  height: 300px;
  width: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
    padding: 3px 6px;
  }
}

#new-message {
  border: 1px solid #ccc;
  width: 300px;
  height: 4em;
  margin-top: 1em;
}
