$border-colour: #ccc;

#cruciverbalist-header {
  margin-top: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid $border-colour;
  background-color: white;
  clear: both;
}

#chat {
  float: right;

  #conversation {
    border: 1px solid $border-colour;
    height: 484px;
    width: 300px;
    overflow: auto;
    margin: 0;
    padding: 0;

    li {
      list-style-type: none;
      padding: 3px 6px;
    }
  }

  #new-message {
    border: 1px solid $border-colour;
    width: 300px;
    height: 4em;
    margin: 0;
    padding: 2px;
    margin-top: 1em;
  }
}

#session {
  margin-bottom: 1em;
}
